<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_exam">

    <!-- Internet for image fetching -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 10+ may require this for step sensors on some devices -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Declare sensor feature optional (graceful fallback if missing) -->
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="Fitness Logger"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity android:name=".AddActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
